@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --cyan-dark: hsl(179, 100%, 13%);
}

* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

main {
  max-width: 327px;
  max-height: 1326px;
}

.card {
  width: 100%;
  height: 442px;
  color: white;
  padding: 48px 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.card img {
  width: 4rem;
}

.card h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

.card p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}

.card a {
  width: 9rem;
  height: 3rem;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.sedans {
  background-color: var(--orange);
}

.sedans a {
  color: var(--orange);
}

.sedans a:hover {
  background-color: var(--orange);
  border: 2px solid white;
  color: white;
}

.suvs {
  background-color: var(--cyan);
}

.suvs a {
  color: var(--cyan);
}

.suvs a:hover {
  background-color: var(--cyan);
  border: 2px solid white;
  color: white;
}

.luxury {
  background-color: var(--cyan-dark);
}

.luxury a {
  color: var(--cyan-dark);
}

.luxury a:hover {
  background-color: var(--cyan-dark);
  border: 2px solid white;
  color: white;
}
